{%extends 'base.html.twig'%}
{%block body%}
<h1>Bienvenue dans ce blog !</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, perspiciatis tenetur voluptas quibusdam officia ipsum dolores sint rerum assumenda a error praesentium placeat accusantium quis facilis animi tempore iste explicabo impedit aperiam fuga cupiditate? Deserunt necessitatibus quaerat laboriosam ducimus itaque.</p>
<p>Architecto necessitatibus nulla repudiandae voluptate iure aliquam. Quas, excepturi sequi. Praesentium, nostrum animi est rerum incidunt soluta? Doloribus, repellat error minus quidem aut iure atque minima ad tempore. Tenetur explicabo maiores natus doloremque voluptatem quos hic assumenda ipsam, laborum est?</p>
{%endblock%}